@use "variables" as *;
@use "../vendors/include-media" as *;

@mixin h1 {
  font-family: $font-merriweather;
  font-size: 6rem;
  line-height: 130%;
  color: $color-white;
  text-align: center;

  @include media("<sm") {
    font-size: 3.6rem;
  }
}

@mixin p {
  font-size: 2.4rem;
  color: $color-white;
  text-align: center;
  font-family: $font-lato;

  @include media("<sm") {
    font-size: 1.8rem;
  }
}

@mixin btn {
  font-family: $font-lato;
  font-size: 1.6rem;
  color: $color-white;
  border: 1px solid $color-red;
  background-color: $color-red;
  width: fit-content;
  height: 4rem;
  padding: 0 2rem;
  border-radius: 0.8rem;
  line-height: 100%;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(140, 35, 35, 0.2);
  }
}

@mixin form-p {
  font-size: 1.6rem;
  line-height: 100%;
  color: $color-black;
  text-align: left;
  font-family: $font-lato;
}

@mixin form-h1 {
  font-family: $font-libre-baskerville;
  font-size: 1.6rem;
  line-height: 130%;
  color: $color-black;
  text-align: left;
}
