* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --doc-height: 100%;
}

html {
  background-color: black;
}

body, html {
  width: 100%;
  height: var(--doc-height);
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web';
}
