// @font-face {
//   font-family: "PP Neue Montreal";
//   src: url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2"), url("../fonts/PPNeueMontreal-Medium.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Lato";
  src:
    url("../../fonts/Lato-Light.woff2") format("woff2"),
    url("../../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src:
    url("../../fonts/LibreBaskerville-Medium.woff2") format("woff2"),
    url("../../fonts/LibreBaskerville-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src:
    url("../../fonts/Merriweather24ptSemiCondensed-LightItalic.woff2")
      format("woff2"),
    url("../../fonts/Merriweather24ptSemiCondensed-LightItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    url("../../fonts/Lato-Bold.woff2") format("woff2"),
    url("../../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
